body{
    margin: 0;
    padding: 0;
    background: #cccc;
    font-family: Poppins;
    justify-content: center;
    display: flex;
    height: 100vh;
   }
   .navbar ul{
    list-style: none;
    background: #ffffff;
    padding: 0;
    margin-top: 100%;
    text-align: center;
   }
   .navbar li{
    display: inline-block;
   }
   .navbar a{
    text-decoration: none;
    color: rgb(166, 66, 183);
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
   }
   .navbar a:hover{
    background: orange;
   }
  .test{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #f88484;
    border-radius: 50%;
    top: 20px;
    left: 50px;
  } 
  .edit {
    position: relative;
    margin-top: -80%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: purple;
  }